@slb-dls:registry=https://slb-swt.pkgs.visualstudio.com/_packaging/slb-dls/npm/registry
@slb-types:registry=https://slb-swt.pkgs.visualstudio.com/_packaging/slb-dls/npm/registry/
registry=https://registry.npmjs.com